//- レイアウト読み込み
extends /layouts/layout

//- ページ設定
block config
  include /config
  //- _config.pug内で設定したKeyを指定
  - const key = "workDetail"
  - const page = pages[key]
  //- 相対画像パスを生成
  - const imgPath = page.filePath + imgRootPath
  - const category = "labo";

block append head
  link(rel="stylesheet" href=rootPath + "assets/css/works.css")

block content
  h2.subHeading
    | WORKS
  .workDetail
    //- スライダー
    .worksDetail__slider
      .swiper-container
        .swiper-wrapper
          - for (let i = 1; i <= workDetailData[category].arraySize; i++)
            .swiper-slide
              img(src=`${imgRootPath}works/${category}/image${i}.jpg` alt=``)
        .swiper-pagination
    //- a.workDetail__link(href="#" target="_blank")
    //-   | Labo
    section.workDetail__section
      h3.workDetail__heading
        | 概要
      p.workDetail__text
        | 日々の知識を溜め込む場所として作成した自主作成のサイトです。

block append script
  script(src=rootPath + "assets/js/works.bundle.js")
